*.pyc
__pycache__
#venv
.idea
#db.sqlite3
settings_local.py
bot.ini
media/
/static/
celerybeat-schedule
uwsgi.sock
uwsgi.conf
ari-nginx.conf
celery.log
django.log
bot.log
uwsgi.log
django-errors.log
/conf/bot-supervisor.conf
/conf/celery-supervisor.conf
/conf/uwsgi-supervisor.conf
/bot_err.log
