{#{% extends 'base.html' %}#}
{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Путевой лист</title>
{#  {% block extra_css %} {% endblock %}#}

</head>
<body>
{#<form action="2" method="post">#}
{# {% csrf_token %}#}
{#<select id="selectID">#}
{##}
{#<option name="period" id="1" value=”1”>17:30-08:30</option>#}
{##}
{#<option name="period2" id="2" value=”2”>08:30-17:30</option>#}
{##}
{#</select>#}
{#  <input type="submit">#}
{#</form>#}
<form method="get">
            <p>
                <label for="period">Выберите период:</label>
                <select id="period" name="period">
                    <option value="1">17:30 - 08:30</option>
                    <option value="2">08:30 - 17:30</option>
                </select>
            <input type="submit" value="Сформировать" />
            </p>
{#            <p>#}

{#            </p>#}
        </form>
{# <p><label for="datetime">Начало: </label>#}
{#   <input type="datetime-local" id="datetime" name="date"/>#}
{#   <label for="localdate">Окончание: </label>#}
{#   <input type="datetime-local" id="localdate" name="date"/>#}
{#   <input type="submit" value="Cформировать" onclick="report_view()" >#}
{# </p>#}
{% csrf_token %}
{#<div align="left"><a href="/">выйти</a></div>#}
 {% for driver, rows in data.items %}

  <h4>Путевой лист для водителя: {{ driver }} {{ period_str }}</h4>
<div class="table-wrap">
<table class="table-1">
<tr>
  <th>№</th>
  <th>Дата доставки</th>
  <th>Район</th>
  <th>Адрес</th>
  <th>Телефон</th>
  <th>Номенклатура</th>
  <th>Кол-во</th>
  <th>Сумма</th>
  <th>Коммент</th>
</tr>

  {% for row in rows %}
{#   <h5>{{ order }}</h5>#}
  <tr>
    <td>{{ row.num }}</td>
    <td>{{ row.data_dev }}</td>
    <td>{{ row.district }}</td>
    <td>{{ row.address }}</td>
    <td>{{ row.phone_number }}</td>
    <td>{{ row.position }}</td>
    <td>{{ row.quantity }}</td>
    <td>{{ row.amount }}</td>
    <td>{{ row.comment }}</td>
  </tr>

  {% endfor %}

</table>
  {% endfor %}
</div>
{#</form>#}
<script register.js?{random} src="{% static 'documents/js/report.js' %}">
{#<script>#}
{#  function report_view(){#}
{#    var start = document.querySelector('#datetime').value#}
{#    var finish = document.querySelector('#localdate').value#}
{#    alert('dsa')#}
{#      location.href += '?param1='+start+'&params2='+finish#}

</script>
<link rel="stylesheet" type="text/css" href="{% static 'documents/css/style.css' %}">
</body>
</html>
